<module>
  <components>
    <component class="components.TopMenu" />
    <component class="components.Toolbar" />
    <component class="components.StatusBar" />
    <component class="components.MapsPanel" />
    <component class="components.LayerPanel" />
    <component class="components.Tilemap" />
    <component class="components.MapEditor" />
    <component class="components.TilePicker" />
  </components>

  <resources>
    <resource path="locale/" prefix="/locale" />
    <resource path="styles/" prefix="/styles" />
  </resources>

  <locales>
    <locale id="en_US">
      <resource path="locale/en_US/menus.properties" />
      <resource path="locale/en_US/layerList.properties" />
    </locale>
  </locales>

  <cssExtensions>
    <cssFunction name="icon" call="styles.StyleFunctions.icon" />
  </cssExtensions>

  <themes>
    <default>
      <var name="background-color" value="#ffffff"/>
      <var name="statusbar-background-color" value="#ffffff" />
      <var name="toolbar-background-color" value="#ffffff"/>
      <style resource="styles/light/main.css" />
      <style resource="styles/light/toolbar.css" />
      <style resource="styles/default/statusbar.css" />
      <style resource="styles/default/tile-picker.css" />
      <style resource="styles/default/tilemap.css" />
      <style resource="styles/default/maps-panel.css" />
      <style resource="styles/default/layers-panel.css" />
      <style resource="styles/default/overrides.css" />
    </default>
    <dark parent="default">
      <var name="normal-background-color-start" value="#232323" />
      <var name="normal-background-color-end" value="#232323" />

      <var name="statusbar-background-color" value="#1a1a1a" />
      <var name="default-background-color" value="#2d2d30" />
      <var name="secondary-background-color" value="#252525" />
      <var name="tertiary-background-color" value="#232323" />

      <var name="solid-background-color" value="#232323" />
      <!-- <var name="solid-background-color-alt" value="#1a1a1a" />
      <var name="solid-background-color-hover" value="#1a1a1a" />
      <var name="solid-background-color-down" value="#1a1a1a" />
      <var name="solid-background-color-disabled" value="#1a1a1a" /> -->

      <!-- selection -->
      <var name="selection-background-color" value="#29425c" />
      <var name="selection-text-color" value="#ffffff" />
      <var name="selection-background-color-hover" value="#3a5d82" />

      <!-- <var name="background-color" value="#232323"/> -->
      <var name="background-color" value="#232323"/>
      <var name="toolbar-background-color" value="#232323"/>

      <var name="normal-border-color" value="#1a1a1a" />
      <var name="normal-border-size" value="1px" />
  
      <var name="normal-text-color" value="#a7a7a7" />
      <var name="normal-border-radius" value="2px" />
    </dark>
  </themes>
</module>