<module>
  <components>
    <component class="components.TopMenu" />
    <component class="components.Toolbar" />
    <component class="components.StatusBar" />
    <component class="components.MapsPanel" />
    <component class="components.LayerPanel" />
    <component class="components.Tilemap" />
    <component class="components.MapEditor" />
    <component class="components.TilePicker" />
  </components>

  <resources>
    <resource path="locale/" prefix="/locale" />
    <resource path="styles/" prefix="/styles" />
  </resources>

  <locales>
    <locale id="en_US">
      <resource path="locale/en_US/menus.properties" />
      <resource path="locale/en_US/layerList.properties" />
    </locale>
  </locales>

  <cssExtensions>
    <cssFunction name="icon" call="styles.StyleFunctions.icon" />
  </cssExtensions>

  <themes>
    <default>
      <var name="background-color" value="#ffffff"/>
      <var name="toolbar-background-color" value="#ffffff"/>
      <style resource="styles/light/main.css" />
      <style resource="styles/light/toolbar.css" />
    </default>
    <dark parent="default">
      <var name="background-color" value="#313435"/>
      <var name="toolbar-background-color" value="#313435"/>
    </dark>
  </themes>
</module>