<module>
    <components>
        <component class="components.TopMenu"/>
        <component class="components.StatusBar"/>
        <component class="components.MapList"/>
        <component class="components.MapEditor"/>
        <component class="components.TilePicker"/>
    </components>  
</module>